.footer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 0 60px;
}

.footer__info {
  width: 318px;
  height: 18px;
  color: #545454;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}
